
/* Navigation section styles */

nav{
    margin: 50px 250px;
}
.NavClass1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavClass1 ul{
    display: flex;
    align-items: center;
    column-gap: 80px;
    list-style: none;
    font-size: larger;
}
.NavClass1 h1{
    font-size: xx-large;
}
.NavClass1 span{
    color: #1dd100;
}
.NavClass2{
    border: 1px solid #1dd100;
    display: flex;
    align-items: center;
    column-gap: 10px;

    height: 50px;
    width: 100px;
    padding-left: 16px;
    background-color: #1cd1001f;
    border-radius: 5px;
}
.NavClass2 p{
    font-size: x-large;
    color: #1dd100;
}
.NavClass2 img{
    height: 28px;
    width: 30px;
}
.SearchBar{
    /* border: 1px solid red; */
    display: flex;
   justify-content: center;
   height: 60px;
   margin-top: 70px;
}
.SearchBar input{
    height: 40px;
    width: 500px;
    padding-left: 20px;
    font-size: larger;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.SearchBar button{
    height: 46px;
    width: 150px;
    margin-left: 5px;
    background-color: #1cd10034;
    border: 1px solid #1dd100;
    font-size: larger;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}






/* Banner section styles */


.BannerSection{
    margin: 50px 250px;
}

.BannerClass1{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;

    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.BannerClass1 h1{
    color: white;
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.BannerClass1 div{
    /* border: 1px solid red; */
    width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.BannerClass1 p{
    color: white;
    font-size: x-large;
    line-height: 0px;
}
.BannerClass1 button{
    margin-top: 30px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;

    height: 60px;
    width: 200px;
    border-radius: 8px;
    background-color: #1dd100;
    border: none;
}
#id1{
    padding-top: 100px;
}
#id2{
    color: #1dd100;
    margin-top: -0.5em;
}
.BannerClass2{
    display: flex;
    justify-content: space-around;
}
.BannerClass3{
    display: flex;
    /* border: 1px solid red; */
    width: 250px;
    border-bottom: 5px solid #1dd100;
    background-color: white;

    border-radius: 15px;
    align-items: center;

    position: relative;
    bottom: 60px;
}
.BannerClass3 img{
    height: 50px;
    margin-right: 15px;
    margin-left: 30px;
}
.BannerClass3 div h1{
    font-size: 2em;
}
.BannerClass3 div p{
    font-size: larger;
    margin-top: -20px;
}






/* Offer section styles */




.OfferSection{
    margin: 50px 250px;
}  
.C2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.C2 h1{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.C2 button{
    margin-top: 50px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #1dd100;
    color: #1dd100;
    font-size: larger;
    background-color: white;
}
.OfferClass1{
    /* border: 1px solid red; */
    display: flex;
    column-gap: 50px;
}
.OfferClass2, .OfferClass3{
    width: 670px;
    border-radius: 15px;
    height: 220px;
}    
.OfferClass2{
    background-color: #ffbf0f;
    display: flex;
}  
.H1{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}    
.OfferClass2 p, .OfferClass3 p{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}      
.C1{
    color: rgba(0, 0, 0, 0.342);
}  
.OfferClass3 {
    background-color: #f78c9c;
    display: flex;
}     
.OfferClass2 img, .OfferClass3 img{
    position: relative;
    left: 100px;
} 
.BoxClass1{
    margin-left: 100px;
} 
.BoxClass2{
    position: relative;
    left: 130px;
    margin-top: 30px;
}   
.CouponCode{
    margin-top: -2em;
}   
.p1{
    margin-top: -1.3em;
}  






/* Ticket Purchase section styles */






.TicketPurchaseOuterDiv{
    border-top: 3px solid #1dd100;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-top: 100px;
}
.DivClass1{
    /* border: 1px solid red; */
    margin: 10px auto;
    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.DivClass1 h1{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.DivClass1 p{
    font-size: larger;
    margin-top: -1.3em;
}
.DivClass2{
    margin: 50px 250px;
    /* border: 1px solid red; */
}
.DivClass3{
    /* border: 1px solid red; */
    background-color: #1cd10015;
    border-radius: 20px;
    margin-top: -40px;
}
.DivClass4{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.DivClass5, .DivClass6{
    display: flex;
    align-items: center;
}
.DivClass5 img{
    height: 60px;
    width: 100px;
    margin-right: 20px;
}
.DivClass6 img{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}
.DivClass5 div h2, .DivClass6 div h2{
    font-size: 2em;
}
.DivClass5 div p, .DivClass6 div p{
    font-size:larger;
    margin-top: -1em;
}
.DivClass7{
    background-color: rgba(128, 128, 128, 0.089);
    /* border: 1px solid blue; */
    width: 1000px;
    margin: 20px auto;
}
.DivClass8{
   /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;
    height: 70px;
    padding: 0px 10px;
}
.DivClass8 p,h3, .DivClass9 div p{
    font-size: larger;
}
.DivClass9{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 157px;
    /* border: 1px solid blue; */
    padding-bottom: 20px;
}
.DivClass9 div{
  /* border: 1px slid red; */
  background-color: rgba(128, 128, 128, 0.37);
  border-radius: 10px;
  width: 230px;
  

  display: flex;
  justify-content: center;
}

.DivClass10{
   display: flex;
   margin: 0px 250px;

}
.DivClass11{
   height: 1050px;
   width: 700px;
   background-color: #1cd10015;
   border-radius: 10px;
}
.DivClass12{
   height: 1050px;
   width: 650px;
   background-color: #1cd10015;
   border-radius: 10px;
}
hr{
    border: 1px dashed rgba(0, 0, 0, 0.363);
}
.DivClass13{
    display: flex;
    justify-content: space-around;
}
.DivClass14{
    display: flex;
    align-items: center;
    gap: 10px;
}
#id3{
    text-align: center;
    font-size: xx-large;
}
#driver{
    background-color: rgba(128, 128, 128, 0.39);
    height: 55px;
    width: 100px;
    border-radius: 10px;

    display: flex;
    justify-content: center;

    position: relative;
    top: 30px;
    left: 580px

   
}
#driver img{
    height: 50px;
    width: 50px;
}
.AllSeats{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.seats{
    /* border: 1px solid red; */
    height: 55px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;   
}
.seats button{
    height: 55px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
}
.A1-J1, .A2-J2, .A3-J3,.A4-J4{
    /* border: 1px solid red; */
    width: 100px;
}
.A1-J1 div, .A2-J2 div, .A3-J3 div, .A4-J4 div{
    /* border: 1px solid blue; */
}
.LeftSideLetter div{
    /* border: 1px solid red; */
    height: 50px;
    width: 10px;
    margin-bottom: 15px;
    /* border: none */
}
.LeftSideLetter div p{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#J3{
    position: relative;
    top: 630px;
}





/* Ticket confirmation section */



.DivClass15, .DivClass19{
    background-color: rgba(128, 128, 128, 0.137);
    width: 550px;
    margin: 0px auto;
    border-radius: 15px;
}
.DivClass16{
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
    /* border: 1px solid red; */
    height: 50px;
}
.DivClass16 p{
    font-size:large;
    font-weight: bold;
}
.DivClass17{
    display: flex;
    justify-content: space-between;
    margin: 20px 70px 20px 60px;
    margin-top: -1em;
}

.DivClass17 p{
    font-size: large;
    font-weight: bold;
}
.DivClass18{
    margin-left: 38px;
}

.DivClass18 input{
    height: 50px;
    width: 450px; 
    border-radius: 10px;  
    padding-left: 20px;
    font-size: large;
    border: none;
}

.DivClass18 button{
    height: 48px;
    width: 120px;
    border-radius: 10px;
    font-size: large;
    background-color: #1dd100;
    border: none;
    color: white;

    position: relative;
    bottom: 50px;
    left: 350px;
}
#id4{
   text-align: center;
   margin-top: 70px;
   font-size: xx-large;
   padding-top: 20px;
}
.DivClass19 input{
   height: 40px;
   width: 420px;
   border: none;
   padding-left: 15px;
   border-radius: 10px;
   margin-left: 53px;
   margin-bottom: 20px;
}
.DivClass19 h3{
    margin-left: 53px;
}

.DivClass19 button{
    height: 45px;
    width: 438px;
    margin-left: 53px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
    background-color: #1dd100;
    color: white;
    border: none;
}
#ScrollingDiv{
    height: 100px;
    /* border: 1px solid red; */
    overflow-y: scroll;

    
}
/* This div & inner p both will be created dynamicallay */
#ScrollingDiv div{    
   display: flex;
   justify-content: space-between;
   padding: 0px 60px;
}
#DiscountDiv{
    /* border: 1px solid red; */
    height: 30px;
    margin-top: -3em;
    margin-bottom: 10px;
}
/* This inner p will be created dynamicallay */
#DiscountInfoDisplay{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
}
#DiscountAlarm{
    height: 200px;
    width: 550px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #1dd100;

    position: relative;
    bottom: 200px;
}
#DiscountAlarm p{
    font-size: 2em;
    font-weight: 600;
    padding: 30px 50px;
}
#DiscountAlarmButton{
    height: 50px;
    width: 130px;
    background-color: #1cd10096;
    font-size: x-large;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-left: 190px;
    margin-top: -1em;
}

.SeatsBgColor{
    background-color: #1dd100;
}

.DisplayHidden{
    display: none;
}
